html { height: 100%; }
body { position: relative; margin: 0; height: 100%; }

.fullscreen header {
  display: none;
}
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding-left: 5px;
  height: 23px;
  background: #DCDCDC;
}
#kill {
  margin-left: 200px;
  color: darkred;
  cursor: pointer;
}
#kill:hover {
  color: red;
}
#killing {
  position: relative;
  z-index: 4;
  display: none;
  margin: 100px auto;
  width: 300px;
  height: 100px;
}
#killed {
  position: relative;
  z-index: 4;
  display: none;
  margin: 100px auto;
  width: 300px;
  height: 100px;
}
#new {
  position: relative;
  display: block;
  margin-left: 50px;
  padding: 4px 0px;
  width: 100px;
  background: #F0F0F0;
  color: black;
  text-align: center;
  cursor: pointer;
}
#new:hover {
  background: #E0E0E0;
}
#backdrop {
  z-index: 3;
  display: none;
  background: rgb(120, 120, 120);
  background: rgba(120, 120, 120, 0.6);
  color: white;
}
.killed #backdrop, .killing #backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  display: block;
}
.killing #killing {
  display: block;
}
.killed #killed {
  display: block;
}
.firepad {
  z-index: 1;
}
#editor {
  position: absolute;
  top: 23px;
  right: 0;
  bottom: 0;
  left: 0;
}
.fullscreen #editor {
  top: 0;
}
